* {
    font-family: 'Arial', 'Georgia', sans-serif;
}

body {
    background-color: rgb(255, 164, 164);
}

h1 {
    -webkit-text-stroke: 1px rgba(0, 0, 0, .8);
    color: rgb(255, 255, 255);
    text-align: center;
}

ul {
    display: table;
    margin: 0 auto;
    text-align: center;
}

li {
    width: 325px;
    font-size: 18px;
    border: solid black 1px;
    margin: 5px;
    list-style-type: katakana;
}

.dark {
    background-color: rgba(177, 177, 177, 0.623);
}

.light {
    background-color:rgba(250, 235, 215);
}

a {
    text-decoration: none;
}

a:link {
    color: rgba(0, 0, 0);
}

a:visited {
    color: rgba(255, 0, 0, 0.8)
}

a:hover{
    color: rgba(255, 166, 0, .8);
}