* {
    font-family: 'Arial', 'Georgia', sans-serif;
}

body {
    background-color: rgb(255, 164, 164);
    /* border: solid 2px;
    border-color: red yellow green blue; */
}

.h1-container {
    padding: 100px;
}

h1 {
    -webkit-text-stroke: 1px rgba(0, 0, 0, .8);
    color: rgb(255, 255, 255);
    text-align: center;
}

.container {
    height: auto;
    width: 500px;
    border: 2px solid;
    border-color: red yellow green blue;
    margin: 250px auto;
    padding: 10px 10px 50px 0px;
}

ul {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.ul-container {
    position: absolute;
    margin-left: 2.9em;
}

li {
    width: 325px;
    font-size: 18px;
    border: solid black 1px;
    margin: 8px 0px;
    padding: 5px;
    list-style-type: katakana;
    text-align: center;
}

.dark {
    background-color: rgba(177, 177, 177, 0.623);
}

.light {
    background-color:rgba(250, 235, 215);
}

a {
    text-decoration: none;
}

a:link {
    color: rgba(0, 0, 0);
}

a:visited {
    color: rgba(255, 0, 0, 0.8)
}

a:hover{
    color: rgba(255, 166, 0, .8);
}