* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 164, 164);
    border: 2px solid;
    border-color: red yellow green blue;
    padding: 5px;
}

h1 {
    text-align: center;
    font-size: 42px;
    text-decoration: underline;
}

img {
    display: block;
    height: auto;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    align-self: center;
    border: 1px solid black;
    box-shadow: 0px 0px 40px 20px rgba(255, 187, 0, .7)
}

.header {
    background-color: rgba(100, 100, 100, .4);
    color: rgb(255, 187, 0);
    border: solid black 1px;
    text-align: left;
}